@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




@layer utilities {
  .h1 {
    @apply  w-full font-semibold text-gray-600 text-[1rem] md:text-[1.25rem] lg:text-[1.5rem] text-left border-b-2 border-gray-600;
  }
}






